.experience-container {
	height: 85vh;
	width: 100%;
	position: relative;
	text-align: center;
	margin-bottom: 30px;
}

.small-text {
	font-size: 12px;
	text-align: left;
	margin-left: 25%;
}

.full-width-line {
	width: 75%;
	border: none;
	border-top: 1px solid var(--secondary);
	margin: auto;
}

.large-text {
	font-size: 24px;
	text-align: center;
}