footer {
	background-color: var(--background-color);
	color: var(--text-color);
	padding: 1rem;
	text-align: center;
	z-index: -1;
}

footer.dark {
	background-color: var(--background-color-dark);
	color: var(--text-color-dark);
	padding: 1rem;
	text-align: center;
	z-index: -1;
}